.glow {
  color: #7B07A0;
  padding: 0.2em 1em 0.2em 1em;
  font-size: 12em;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  text-align: center;

  /*Border*/
  border: 0.12em solid;
  border-radius: 0.2em;
  border-color: #7B07A0;
  width: 8em;
  margin: auto;
  margin-bottom: 500px;
  box-shadow: inset 0 0 0.2em #7B07A0, 0 0 0.5em #7B07A0;
  position: relative;
}



/*Name*/

.glow {
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
  color: #ffffff;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 40px #cb00ff, 0 0 70px #cb00ff, 0 0 80px #cb00ff, 0 0 100px #cb00ff, 0 0 150px #cb00ff;
  }
  to {
    text-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 7.5px #fff, 0 0 40px #cb00ff, 0 0 35px #cb00ff, 0 0 40px #cb00ff, 0 0 50px #cb00ff, 0 0 75px #cb00ff;
  }
}




 /*text-shadow: 
    0 0 50px #7B07A0;
*/