.glow {
  color: #7B07A0;
  font-size: 70px;
  font-family: Ubuntu, "times new roman", times, roman, serif;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #7B07A0, 0 0 20px #7B07A0, 0 0 1px #7B07A0, 0 0 1px #7B07A0, 0 0 1px #7B07A0;
  }
  
  to {
    text-shadow: 0 0 1px #7B07A0, 0 0 20px #7B07A0, 0 0 1px #7B07A0, 0 0 1px #7B07A0, 0 0 1px #7B07A0;
  }
}